vm/564d0caa-506a-05da-9160-92fd58c1559d.vmem
vm/acwj-s001.vmdk
vm/acwj-s002.vmdk
vm/acwj-s003.vmdk
vm/acwj-s005.vmdk
vm/acwj-s004.vmdk
vm/acwj-s006.vmdk
vm/acwj-s007.vmdk
vm/acwj-s008.vmdk
vm/acwj-s009.vmdk
vm/acwj-s010.vmdk
vm/acwj-s011.vmdk
vm/acwj-s012.vmdk
vm/acwj-s013.vmdk
vm/acwj.nvram
vm/acwj.scoreboard
vm/acwj.vmdk
vm/acwj.vmsd
vm/acwj.vmx
vm/acwj.vmxf
vm/mksSandbox.log
vm/vmware.log
vm/564d0caa-506a-05da-9160-92fd58c1559d.vmem.lck/M32665.lck
vm/acwj.vmdk.lck/M31427.lck
vm/acwj.vmx.lck/M24536.lck
